@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background:#f5f5f5;
	padding-bottom:3rem;
}
.header{
	padding:3% 5%;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	background:#fff;
	a{
		width:1.2rem;
		height:1.2rem;
		&:first-child{
			position:relative;
			&:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        left:5%;
		        margin-top:-6px;
		        width:12px;
		        height:12px;
		        border:2px solid;
		        border-bottom:0;
		        border-right:0;
		        color:#4d4d4d;
		        @include transform(rotateZ(-45deg));
		    }
		}
		&:last-child{
			img{
				width:100%;
			}
		}
	}
	h1{
		flex:1;
		font:.75rem/1.5 $publicFont;
		color:#4d4d4d;
		text-align:center;
	}
}
.profit-header{
	padding:10% 0 0 0;
    background:#de5a4c;
    width:100%;
    height:auto;
}
.profit-money{
	margin-bottom:10%;
	text-align: center;
	color:#fff;
	h2{
		font:1rem/1.2 "Microsoft YaHei";
	}
	p{
		font:.6rem/1.2 "Microsoft YaHei";
	}
}
.profit-money-list{
	padding:0 2% 2% 2%;
	ul{
		display: -webkit-flex;
		display: flex;
		align-items:center;
		li{
			position:relative;
	    	flex:1;
	    	border-right:1px solid #fff;
	    	p{
	    		text-align: center;
	    		color:#fff;
	    		font:.6rem/1.2 "Microsoft YaHei";
	    		&:last-child{
	    			font-size:.75rem;
	    		}
	    	}
	    	&:last-child{
	    		border-right:0;
	    	}
		}
	}
}
.profit-list{
	position:relative;
	margin:5% 0;
	background-color:#fff;
	height: 1.6rem;
	&:before{
		content:"";
		position: absolute;
		width: 0;
		height:0;
		border-left: .3rem solid transparent;
	    border-right: .3rem  solid transparent;
	    border-top: .3rem  solid #fff;
	    left: 50%;
        top: 100%;
        z-index: 1;
        @include transform(translate(-50%, 0));
	}
	dl{
		padding:3% 2%;
		position:absolute;
		width: 100%;
		background-color:#fff;
		z-index:2;
		max-height:7rem;
        overflow: auto;
		dt{
           border:1px solid #ccc;
           color:#4e4e4e;
           font:.4rem/1.1rem "Microsoft YaHei";
           padding:0 2%;
           position:relative;
           &:before{
				content: "";
			    position: absolute;
			    width: 0;
			    height: 0;
			    border-left: .2rem solid transparent;
			    border-right: .2rem solid transparent;
			    border-top: .2rem solid #cacaca;
			    right: 4%;
			    top: 50%;
			    z-index: 1;
		        @include transform(translate(0, -50%));
			}
           input{
	           	width: .5rem;
			    height: .5rem;
			    float: left;
			    margin:.26rem .1rem 0 0;
           }
		}
		dd{
           color:#4e4e4e;
           font:.4rem/1.1rem "Microsoft YaHei";
           padding:0 2%;
           display: none;
           input{
	           	width: .5rem;
			    height: .5rem;
			    float: left;
			    margin:.26rem .1rem 0 0;
           }
           a{
           	text-decoration:none;
           	float:right;
            color:#008077;
           }
		}
	}
}
.profit-surface{	
	margin-top:2%;
	background-color:#fff;
	width: 100%;
    overflow: hidden;
    .l{
    	content:"";
		position: absolute;
		width: 0;
		height:0;
		border-top: .2rem solid transparent;
	    border-bottom: .2rem  solid transparent;
	    border-right: .2rem  solid #cacaca;
	    left:.1%;
	    top: 50%;
	    z-index: 1;
	    @include transform(translate(0,-50%));
    }
    .r{
    	content:"";
		position: absolute;
		width: 0;
		height:0;
		border-top: .2rem solid transparent;
	    border-bottom: .2rem  solid transparent;
	    border-left: .2rem  solid #cacaca;
	    right:.1%;
	    top: 50%;
	    z-index: 1;
	    @include transform(translate(0,-50%));
    }
	ul{
		width:240vw;
		margin-left:-60vw;
		height: 1.2rem;
		overflow: hidden;
        border-bottom:1px solid #ccc;
        transition:all .5s;
        -webkit-transition:all .5s;
        li{
			font:.36rem/1.2rem "Microsoft YaHei";
			float: left;
			text-align: center;
			width:20vw;
			color:#4e4e4e;
		}
		.active{
			color:#000;
			position:relative;
			&:before{
               content:"";
               width:20vw;
               height: 2px;
               background-color:#008077;
               position:absolute;
               left:0;
               bottom:0;
			}
		}
	}
	.profit-surface{
		display: none;
		min-width:300px;
	    height:300px;
	}
}