@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background:#f5f5f5;
	padding-bottom:2.2rem;
}
.header{
	padding:3% 5%;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	background:#fff;
	a{
		width:1.2rem;
		height:1.2rem;
		&:first-child{
			position:relative;
			&:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        left:5%;
		        margin-top:-6px;
		        width:12px;
		        height:12px;
		        border:2px solid;
		        border-bottom:0;
		        border-right:0;
		        color:#4d4d4d;
		        @include transform(rotateZ(-45deg));
		    }
		}
		&:last-child{
			img{
				width:100%;
			}
		}
	}
	h1{
		flex:1;
		font:.75rem/1.5 $publicFont;
		color:#4d4d4d;
		text-align:center;
	}
}
.reportList{
	position:relative;
	margin:5% 0;
	background-color:#fff;
	height:2.6rem;
	&:before{
		content:"";
		position: absolute;
		width: 0;
		height:0;
		border-left: .3rem solid transparent;
	    border-right: .3rem  solid transparent;
	    border-top: .3rem  solid #fff;
	    left: 50%;
        top: 100%;
        z-index: 1;
        @include transform(translate(-50%, 0));
	}
	.radio-text{
	   height:2rem;
       border:1px solid #ccc;
       position:relative;
       color:#4e4e4e;
	   font:.6rem/2.1rem "Microsoft YaHei";
       margin:0 2%;
       padding:0 2%;
       &:before{
			content: "";
		    position: absolute;
		    width: 0;
		    height: 0;
		    border-left: .4rem solid transparent;
		    border-right: .4rem solid transparent;
		    border-top: .4rem solid #cacaca;
		    right: 4%;
		    top: 50%;
		    z-index: 1;
	        @include transform(translate(0, -50%));
		}
       span{
       		width: 1rem;
		    height: 1rem;
		    float: left;
		    margin:.5rem .2rem 0 0;
		    border:1px solid #ccc;
		    border-radius:3px;
		    position:relative;
	       	&:before{
				content: "";
				position: absolute;
				top: -5%;
				left: 5%;
				width: .4rem;
				height: .2rem;
				background-color: #666;
				transform: rotate(50deg) translate(100%, 150%);
			}
			&:after{
				content: "";
				position: absolute;
				top: -5%;
				left: 5%;
				width: .7rem;
				height: .2rem;
				background-color: #666;
				transform: rotate(-45deg) translate(-30%, 170%);
			}
       }
	}
	dl{
		padding:0 2%;
		position:absolute;
		width: 100%;
		background-color:#fff;
		z-index:2;
		max-height:14rem;
        overflow: auto;
        display: none;
		dd{
           color:#4e4e4e;
           font:.6rem/2.1rem "Microsoft YaHei";
           padding:0 2%;
           span{
	           	width: 1rem;
			    height: 1rem;
			    float: left;
			    margin:.5rem .2rem 0 0;
			    border:1px solid #ccc;
			    border-radius:3px;
	       }
		}
		.active{
           span{
           	position:relative;
	       	  &:before{
	       	  	content: "";
			    position: absolute;
			    top: -5%;
			    left: 5%;
			    width: .4rem;
			    height: .2rem;
			    background-color: #666;
			    transform: rotate(50deg) translate(100%, 150%);
	       	  }
	       	  &:after{
	       	  	content: "";
			    position: absolute;
			    top: -5%;
			    left: 5%;
			    width: .7rem;
			    height: .2rem;
			    background-color: #666;
			    transform: rotate(-45deg) translate(-30%, 170%);
	       	  }
	       }
		}
	}
}
.reportBottom{
	background-color:#fff;
	height: auto;
    overflow: hidden;
    padding:2% 2% 1rem 2%;
    margin-top: -.1rem;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    >div{
    	margin-right: 1rem;
    	display: -webkit-flex;
	    display: flex;
	    align-items:center;
		i{
		   	width:.6rem;
		   	height:.6rem;
		    background-color:#de5a4c;
		   	display: block;
		   	margin-right:.3rem;
	    }
	    span{
		   font:.7rem/2 "Microsoft YaHei";
		   float: left;	  	   
		}
		&:last-child{
			i{
				background-color:#f7cb48;
			}
		}
    }	
}
