@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background:#f5f5f5;
	padding-bottom:2.4rem;
	>p{
		margin:.5rem 0;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		justify-content:center;
		i{
			display:-webkit-flex;
		display:flex;
		align-items:center;
		justify-content:center;
			width:.8rem;
			height:.8rem;
			margin-right:.3rem;
			img{
				width:100%;
			}
		}
		span{
			font:.5rem/2 "Microsoft YaHei";
			color:#393939;
			a{
				color:#de5a4c;
				text-decoration:none;
			}
		}
	}
}
.header{
	padding:3% 5%;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	background:#fff;
	margin-bottom:.3rem;
	a{
		width:1.2rem;
		height:1.2rem;
		&:first-child{
			position:relative;
			&:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        left:5%;
		        margin-top:-6px;
		        width:12px;
		        height:12px;
		        border:2px solid;
		        border-bottom:0;
		        border-right:0;
		        color:#4d4d4d;
		        @include transform(rotateZ(-45deg));
		    }
		}
		&:last-child{
			img{
				width:100%;
			}
		}
	}
	h1{
		flex:1;
		font:.75rem/1.5 $publicFont;
		color:#4d4d4d;
		text-align:center;
	}
}
.orders-text{
      background:#fff;
      padding:2%;
      margin:2% 0;
      display:-webkit-flex;
	  display:flex;
	  align-items:center;
      >img{
      	width:40%;
      	margin-right:.5rem;
      }
      .text-r{
      	h2{
      		font:.8rem/2 "Microsoft YaHei";
      		color:#de5a4c;
      	}
      	p{
      		&:last-child{
      			display:-webkit-flex;
      			display:flex;
      			align-items:center;
      			i{
      				display:-webkit-flex;
	      			display:flex;
	      			align-items:center;
	      			justify-content:center;
	      			height:.5rem;
	      			font-size:0;
	      			img{
	      				height:100%;
	      			}
      			}
      			span{
					font:.6rem/2 "Microsoft YaHei";
		      		color:#999;
      			}
      		}
      	}
      	.address{
      		font:.6rem/1.2 "Microsoft YaHei";
      		color:#999;
      	}
      }
}
.orders-time{
	background:#fff;
	padding:4% 2%;
	margin:4% 0;
	height: auto;
	overflow: hidden;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	>div{
		flex:1;
		text-align: center;
		i{
			margin:0 auto;
			display:-webkit-flex;
			display:flex;
			align-items:center;
			width:1rem;
			img{
				width:100%;
			}
		}
		p{
			font:.75rem/2 "Microsoft YaHei";
			color:#7e7e7e;
			span{
				color:#de5a4c;
			}
		}
	}
}
.orders-name{
	 margin:6% 0 2%;
	 .name{
	 	 background:#fff;
	     height: auto;
	     overflow: hidden;
	     .names{
	     	position:relative;
	     	padding:4% 5%;
	        margin:2% 0;
	     	border-bottom:1px solid #ccc;
	     	padding-bottom:.5rem;
	     	display:-webkit-flex;
		  display:flex;
		  align-items:center;
	     	i{
	     		 display:-webkit-flex;
				  display:flex;
				  align-items:center;
	     		width:1rem;
	     		height:1rem;
	     		img{
	     			width:100%;
	     		}
	     	}
	     	.names-right{
	     		margin-left:2%;
	     		h5{
                   font:.75rem/1.5 "Microsoft YaHei";
	 	           color:#000;
	     		}
	     		p{
	     			font:.6rem/1.5 "Microsoft YaHei";
	 	            color:#a0a0a0;
	     		}
	     	}
			&:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        right:5%;
		        margin-top:-5px;
		        width:10px;
		        height:10px;
		        border:2px solid;
		        border-bottom:0;
		        border-right:0;
		        color:#ccc;
		        @include transform(rotateZ(135deg));
		    }
	     }
	     .check-in{
	     	margin-top:.5rem;
	     	padding-bottom:.5rem;
	     	text-decoration: none;
	     	display:-webkit-flex;
		  display:flex;
		  align-items:center;
		  justify-content:center;
	     	i{
	     		width:1rem;
	     		height:1rem;
	     		display:-webkit-flex;
				  display:flex;
				  align-items:center;
				  margin-right:.5rem;
				  img{
				  	width:100%;
				  }
	     	}
	     	span{
	     		font:.8rem/1.5 "Microsoft YaHei";
	     		color:#de5a4c;
	     	}
	     }
	 }
	 .orders-name-bottom{
        font:.36rem/2 "Microsoft YaHei";
	 	color:#393939;
	 	padding:0 2%;
	 	i{
	 		color:#008077;
	 		margin-right: .2rem;
	 	}
	 	a{
	 		color:#008077;
	 	}
	 }
}

.steward{
	background:#fff;
	margin-bottom:.5rem;
	.t{
		position:relative;
		padding:1% 10% 1% 5%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		border-bottom:1px solid #eee;
		h4{
			flex:1;
			color:#262626;
        	font:.75rem/1.5 "Microsoft YaHei";
		}
		span{
			color:#757575;
			font:.65rem/1.5 "Microsoft YaHei";
		}
		&:after{
	        content:"";
	        position: absolute;
	        top:50%;
	        right:5%;
	        margin-top:-4px;
	        width:8px;
	        height:8px;
	        border:1px solid;
	        border-bottom:0;
	        border-right:0;
	        color:#757575;
	        @include transform(rotateZ(-135deg));
	    }
	}
	.swiper-slide{
		padding:2% 5% 5% 5%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		.img{
			font-size:0;
			width:3rem;
			height:auto;
			margin-right:.5rem;
			img{
				width:3rem;
				height:3rem;
				border-radius:100%;
				overflow:hidden;
			}
			p{
				text-align:center;
				font:.5rem/2 "Microsoft YaHei";
				color:#000;
			}
		}
		.text{
			p{
				display:-webkit-flex;
				display:flex;
				align-items:center;
				color:#3c3c3c;
				font:.6rem/2 "Microsoft YaHei";
				i{
					height:.7rem;
					display:-webkit-flex;
					display:flex;
					align-items:center;
					img{
						height:100%;
					}
				}
			}
		}
		.select{
			position:absolute;
			right:5%;
			bottom:30%;
			z-index:11;
			width:1rem;
			height:1rem;
			background:url("../images/order/tick1_icon.png") no-repeat;
			background-size:100% 100%;
		}
	}
	.selectActive{
		.select{
			background:url("../images/order/tick_icon.png") no-repeat;
			background-size:100% 100%;
		}
	}
}
.orderText{
	p{
		position:relative;
		padding:1% 10% 1% 5%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		background-color:#fff;
		border-bottom:1px solid #eee;
		span{
			font:.75rem/2 "Microsoft YaHei";
			&:first-child{
				flex:1;
				color:#262626;
			}
			&:last-child{
				color:#de5a4c;
			}
		}
		&:after{
	        content:"";
	        position: absolute;
	        top:50%;
	        right:5%;
	        margin-top:-5px;
	        width:10px;
	        height:10px;
	        border:1px solid;
	        border-bottom:0;
	        border-right:0;
	        color:#ccc;
	        @include transform(rotateZ(135deg));
	    }
	}
}

.orders-submit-bottom{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:2.2rem;
	background-color:#fff;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	span{
		flex:1;
		display:block;
        width: 60%;
        color:#de5a4c;
        font:.75rem/2.2rem "Microsoft YaHei";
        padding-left:2%;
	}
	a{
		flex:1;
		display:block;
        width: 40%;
        color:#fff;
        font:.75rem/2.2rem "Microsoft YaHei";
        background-color:#de5a4c;
        text-align: center;
        text-decoration: none;
	}
}
.order-check-in{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1;
    background-color:#fff;
    overflow:auto;
    display:none;
}
.check-in-header{
	background-color:#fff;
	border-bottom:1px solid #f4f4f4;
	height:6.8vh;
	padding:0 2%;
	.left{
		float:left;
		width:10%;
		text-decoration:none;
	    display:block;
	    i{
	   	   line-height:1.2rem;
	       display:block;
	       color:#4e4e4e;
	       font-size:.7rem;
	    }
	}
	h1{
		float:left;
		width:80%;
		font:.4rem/6.8vh "Microsoft YaHei";
		color:#4e4e4e;
		margin:0;
		text-align:center;
	}
}
.head{
	width:100%;
	background-color:#f4f4f4;
	padding-bottom:.2rem;
	a{
		background-color:#fff;
		text-decoration:none;
		text-align:center;
		font:.36rem/1.2 "Microsoft YaHei";
		display:block;
		padding:.35rem 0;
		color:#008077;
		i{
			margin-right:.2rem;
			display:inline-block;
		}
	}
}
.text-list{
	width:100%;
	margin-bottom:1rem;
	.list-info{
	 	padding:2%;
	 	width:100%;
	 	display:table;
	 	border-bottom:1px solid #f4f4f4;
	 	.l{
           vertical-align: middle;
           display:inline-block;
           width:10%;

	 	}
        .icon-select{
        	color:#999;
        	display:inline-block;
        }
	 	.icon-iconfontzhichi{
	 		color:#008077;
	 		display:none;
	 	}
	 	.info{
           vertical-align: middle;
           display:inline-block;
           width:80%;
           p{
           	  font:.36rem/1.5 "Microsoft YaHei";
           	  color:#696969;
           	  &:first-child{
           	  	color:#000;
           	  }
           }
	 	}
	 	.r{
           vertical-align: middle;
           display:inline-block;
           width:10%;
           text-align:right;
           color:#ccc;
	 	}
	}
	.list-info-active{
		.icon-select{
        	color:#999;
        	display:none;
        }
	 	.icon-iconfontzhichi{
	 		color:#008077;
	 		display:inline-block;
	 	}
	}
}
.btn{
	font:.36rem/1.2rem "Microsoft YaHei";
	background:none;
	border:none;
	outline:none;
	-webkit-appearance:none;
	appearance:none;
	background-color:#008077;
	color:#fff;
	width:100%;
}
.add-order-check-in{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 2;
    background-color:#f4f4f4;
    overflow:auto;
    display:none;
}
.add-check-in-header{
	background-color:#fff;
	border-bottom:1px solid #f4f4f4;
	height:6.8vh;
	padding:0 2%;
	margin-bottom:.2rem;
	.left{
		float:left;
		width:10%;
		text-decoration:none;
	    display:block;
	    i{
	   	   line-height:1.2rem;
	       display:block;
	       color:#4e4e4e;
	       font-size:.7rem;
	    }
	}
	h1{
		float:left;
		width:80%;
		font:.4rem/6.8vh "Microsoft YaHei";
		color:#4e4e4e;
		margin:0;
		text-align:center;
	}
}
.add-yo-list{
	padding:2%;
	background-color:#fff;
	.item {
	    overflow: hidden;
	    background-color: #fff;
	    color: #212121;
	    font:.36rem/1rem "Microsoft YaHei";
	    position: relative;
	    width:100%;
	    display:block;
	    border-bottom:1px solid #f4f4f4;
	    .mark{
	        width:20%;
	        display:inline-block;
		}
	    .yo-input {
		    width:75%; 
		    display:inline-block;
		    background:none;
			border:none;
			outline:none;
			-webkit-appearance:none;
			appearance:none;
		}
	}
}