@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background:#f5f5f5;
	padding-bottom:2.4rem;
}
.header{
	padding:3% 5%;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	background:#fff;
	margin-bottom:.3rem;
	a{
		width:1.2rem;
		height:1.2rem;
		&:first-child{
			position:relative;
			&:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        left:5%;
		        margin-top:-6px;
		        width:12px;
		        height:12px;
		        border:2px solid;
		        border-bottom:0;
		        border-right:0;
		        color:#4d4d4d;
		        @include transform(rotateZ(-45deg));
		    }
		}
		&:last-child{
			img{
				width:100%;
			}
		}
	}
	h1{
		flex:1;
		font:.75rem/1.5 $publicFont;
		color:#4d4d4d;
		text-align:center;
	}
}
.submitSuccess{
	background:#fff;
	.success{
		padding:5%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		.img{
			display:-webkit-flex;
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:0;
			margin-right:.5rem;
			width:2rem;
			height:2rem;
			img{
				width:100%;
			}
		}
		.text p{
			font:.8rem/1.2 $publicFont;
			color:#2c2c2c;
		}
	}
	>p{
		padding:0 5%;
		font:.65rem/2 nth($publicFont,6);
		color:#2c2c2c;
		span{
			color:#de5a4c;
			font-size:.8rem;
		}
	}
}
.payMode{
	h4{
		padding:0 5%;
		color:#c5c4c6;
		font:.65rem/2.4 nth($publicFont,6);
	}
	ul{
		padding:0 5%;
		background:#fff;
		li{
			padding:2% 0;
			border-bottom:1px solid #eee;
			display:-webkit-flex;
			display:flex;
			align-items:center;
			&:last-child{
				border-bottom:none;
			}
			.img{
				margin-right:.5rem;
				width:2rem;
				height:2rem;
				img{
					width:100%;
				}
			}
			.text{
				flex:1;
				h3{
					color:#333;
					font:.75rem/1.5 nth($publicFont,6);
				}
				p{
					color:#999;
					font:.65rem/1.5 nth($publicFont,6);
				}
			}
			i{
				display:block;
				width:1rem;
				height:1rem;
				background:url(../images/order/check_null_icon.png) no-repeat;
				background-size:100% 100%;
			}
		}
		.active{
			i{
				background:url(../images/order/check_icon.png) no-repeat;
				background-size:100% 100%;
			}
		}
	}
}
.goPay{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background:#de5a4c;
	a{
		display:block;
		color:#fff;
		font:.75rem/2rem nth($publicFont,6);
		text-decoration:none;
		text-align:center;
	}
}
.mask{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-index:1;
	display:none;
	background:#000;
	opacity:.8;
}
.maskPay{
	position:fixed;
	left:50%;
	top:50%;
	z-index:2;
	display:none;
	@include transform(translate(-50%, -50%));
	padding:5%;
	width:60%;
	height:auto;
	background:#fff;
	border-radius:10px;
	.img{
		margin:0 auto;
		width:50%;
		font-size:0;
		img{
			width:100%;
		}
	}
	>p{
		font:.65rem/1.5 nth($publicFont,6);
		color:#000;
	}
	.btn{
		margin-top:5%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		a{
			flex:1;
			font:.65rem/2.4 nth($publicFont,6);
			border-radius:30px;
			text-align:center;
			text-decoration:none;
			&:first-child{
				margin-right:.25rem;
				border:1px solid #eee;
				color:#adadad;
			}
			&:last-child{
				margin-left:.25rem;
				background:#de5a4c;
				color:#fff;
			}
		}
	}
}