@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 520px) {
  html {
    font-size: 27px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 560px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #f5f5f5;
  padding-bottom: 3rem; }

.header {
  padding: 3% 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: #fff; }
  .header a {
    width: 1.2rem;
    height: 1.2rem; }
    .header a:first-child {
      position: relative; }
      .header a:first-child:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5%;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-bottom: 0;
        border-right: 0;
        color: #4d4d4d;
        -moz-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg); }
    .header a:last-child img {
      width: 100%; }
  .header h1 {
    flex: 1;
    font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #4d4d4d;
    text-align: center; }

.profit-header {
  padding: 10% 0 0 0;
  background: #de5a4c;
  width: 100%;
  height: auto; }

.profit-money {
  margin-bottom: 10%;
  text-align: center;
  color: #fff; }
  .profit-money h2 {
    font: 1rem/1.2 "Microsoft YaHei"; }
  .profit-money p {
    font: .6rem/1.2 "Microsoft YaHei"; }

.profit-money-list {
  padding: 0 2% 2% 2%; }
  .profit-money-list ul {
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .profit-money-list ul li {
      position: relative;
      flex: 1;
      border-right: 1px solid #fff; }
      .profit-money-list ul li p {
        text-align: center;
        color: #fff;
        font: .6rem/1.2 "Microsoft YaHei"; }
        .profit-money-list ul li p:last-child {
          font-size: .75rem; }
      .profit-money-list ul li:last-child {
        border-right: 0; }

.profit-list {
  position: relative;
  margin: 5% 0;
  background-color: #fff;
  height: 1.6rem; }
  .profit-list:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: .3rem solid transparent;
    border-right: .3rem  solid transparent;
    border-top: .3rem  solid #fff;
    left: 50%;
    top: 100%;
    z-index: 1;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .profit-list dl {
    padding: 3% 2%;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    max-height: 7rem;
    overflow: auto; }
    .profit-list dl dt {
      border: 1px solid #ccc;
      color: #4e4e4e;
      font: .4rem/1.1rem "Microsoft YaHei";
      padding: 0 2%;
      position: relative; }
      .profit-list dl dt:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: .2rem solid transparent;
        border-right: .2rem solid transparent;
        border-top: .2rem solid #cacaca;
        right: 4%;
        top: 50%;
        z-index: 1;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .profit-list dl dt input {
        width: .5rem;
        height: .5rem;
        float: left;
        margin: .26rem .1rem 0 0; }
    .profit-list dl dd {
      color: #4e4e4e;
      font: .4rem/1.1rem "Microsoft YaHei";
      padding: 0 2%;
      display: none; }
      .profit-list dl dd input {
        width: .5rem;
        height: .5rem;
        float: left;
        margin: .26rem .1rem 0 0; }
      .profit-list dl dd a {
        text-decoration: none;
        float: right;
        color: #008077; }

.profit-surface {
  margin-top: 2%;
  background-color: #fff;
  width: 100%;
  overflow: hidden; }
  .profit-surface .l {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: .2rem solid transparent;
    border-bottom: .2rem  solid transparent;
    border-right: .2rem  solid #cacaca;
    left: .1%;
    top: 50%;
    z-index: 1;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .profit-surface .r {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: .2rem solid transparent;
    border-bottom: .2rem  solid transparent;
    border-left: .2rem  solid #cacaca;
    right: .1%;
    top: 50%;
    z-index: 1;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .profit-surface ul {
    width: 240vw;
    margin-left: -60vw;
    height: 1.2rem;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    transition: all .5s;
    -webkit-transition: all .5s; }
    .profit-surface ul li {
      font: .36rem/1.2rem "Microsoft YaHei";
      float: left;
      text-align: center;
      width: 20vw;
      color: #4e4e4e; }
    .profit-surface ul .active {
      color: #000;
      position: relative; }
      .profit-surface ul .active:before {
        content: "";
        width: 20vw;
        height: 2px;
        background-color: #008077;
        position: absolute;
        left: 0;
        bottom: 0; }
  .profit-surface .profit-surface {
    display: none;
    min-width: 300px;
    height: 300px; }

/*# sourceMappingURL=landlordIncome.css.map */
