@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 520px) {
  html {
    font-size: 27px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 560px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #f5f5f5; }

.publish-comment {
  height: auto;
  overflow: hidden; }
  .publish-comment h2 {
    padding: 0 5%;
    width: 100%;
    height: 2rem;
    font: .7em/2rem "Microsoft YaHei";
    color: #454545;
    border-bottom: 1px solid #eee;
    background-color: #fff; }
  .publish-comment .publish-comment-text {
    padding: 2% 5%;
    position: relative;
    height: auto;
    overflow: hidden;
    background: #fdfafa; }
    .publish-comment .publish-comment-text img {
      float: left;
      width: 40%; }
    .publish-comment .publish-comment-text .text-r {
      position: relative;
      margin-left: 42%; }
      .publish-comment .publish-comment-text .text-r p {
        font: .6rem/1.8 "Microsoft YaHei";
        color: #999; }
        .publish-comment .publish-comment-text .text-r p span {
          color: #de5a4c; }
      .publish-comment .publish-comment-text .text-r .time {
        color: #de5a4c; }
      .publish-comment .publish-comment-text .text-r:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border: 2px solid;
        border-bottom: 0;
        border-right: 0;
        color: #ccc;
        -moz-transform: rotateZ(135deg);
        -o-transform: rotateZ(135deg);
        -ms-transform: rotateZ(135deg);
        -webkit-transform: rotateZ(135deg);
        transform: rotateZ(135deg); }
  .publish-comment .grade h3 {
    font: .36rem/1rem "Microsoft YaHei";
    color: #454545; }
    .publish-comment .grade h3 span {
      color: #999; }
  .publish-comment .grade .grade-list .grade-img {
    width: 80%;
    margin: 0 auto;
    height: 30px;
    background: url(/public/images/user/publish6.png) no-repeat; }
    .publish-comment .grade .grade-list .grade-img div {
      width: 20%;
      height: 100%;
      float: left; }
  .publish-comment .grade .grade-list .g1 {
    background: url(/public/images/user/publish6.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list .g2 {
    background: url(/public/images/user/publish5.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list .g3 {
    background: url(/public/images/user/publish4.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list .g4 {
    background: url(/public/images/user/publish3.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list .g5 {
    background: url(/public/images/user/publish2.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list .g6 {
    background: url(/public/images/user/publish1.png) no-repeat;
    background-size: 100%; }
  .publish-comment .grade .grade-list ul {
    width: 90%;
    margin: 0 auto; }
    .publish-comment .grade .grade-list ul li {
      float: left;
      width: 20%;
      text-align: center;
      font: .36rem/1rem "Microsoft YaHei"; }

.words {
  background-color: #fff;
  padding: 5%;
  height: 6rem; }
  .words textarea {
    border: 0;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    font: .7rem/1.2 "Microsoft YaHei"; }
  .words p {
    font: .6rem/1.2 "Microsoft YaHei";
    color: #ccc;
    text-align: right; }

.publish-comment-img {
  background-color: #fff;
  padding: 5%;
  height: auto;
  overflow: hidden; }
  .publish-comment-img li {
    background: url(/public/images/user/up_img.jpg) no-repeat;
    background-size: 100% 100%; }
  .publish-comment-img p {
    font: .6rem/1.2rem "Microsoft YaHei";
    color: #4c4c4c;
    text-align: right; }
    .publish-comment-img p a {
      text-decoration: none;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: .2rem;
      color: #4c4c4c;
      margin-left: .2rem; }

.select {
  padding: 5%;
  margin-bottom: .5rem;
  background-color: #fff;
  border-top: 1px solid #eee; }
  .select ul {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .select ul li {
      font: .7rem/1.2 "Microsoft YaHei";
      flex: 1;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #b5b5b5; }
      .select ul li img {
        width: 1rem;
        height: 1rem;
        margin-right: .3rem; }
    .select ul .on {
      color: #de5a4c; }

.grade {
  padding: 5% 0;
  background: #fff;
  width: 100%; }
  .grade .t {
    padding: .5rem 5%;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .grade .t h3 {
      flex: 1;
      color: #000;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .grade .t p {
      color: #b5b5b5;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .grade .item {
    padding: .5rem 5% 0 5%;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .grade .item p {
      flex: 1;
      color: #b5b5b5;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .grade .item .oc-star-n, .grade .item .oc-star-n1, .grade .item .oc-star-n2, .grade .item .oc-star-n3 {
      width: 60%;
      margin: 0 auto;
      height: 1.4em; }
      .grade .item .oc-star-n ul, .grade .item .oc-star-n1 ul, .grade .item .oc-star-n2 ul, .grade .item .oc-star-n3 ul {
        display: -webkit-flex;
        display: flex;
        align-items: center; }
        .grade .item .oc-star-n ul li, .grade .item .oc-star-n1 ul li, .grade .item .oc-star-n2 ul li, .grade .item .oc-star-n3 ul li {
          flex: 1;
          height: 1.6rem;
          text-indent: -999px;
          overflow: hidden;
          padding: 0; }

.publish-comment-btn {
  border: 0;
  background-color: #de5a4c;
  color: #fff;
  text-align: center;
  font: .7rem/2.4rem "Microsoft YaHei";
  width: 100%; }

/*# sourceMappingURL=publish.css.map */
