@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 520px) {
  html {
    font-size: 27px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 560px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #f5f5f5;
  padding-bottom: 3rem; }

.header {
  padding: 3% 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: .1rem; }
  .header a {
    width: 1.2rem;
    height: 1.2rem; }
    .header a:first-child {
      position: relative; }
      .header a:first-child:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5%;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-bottom: 0;
        border-right: 0;
        color: #4d4d4d;
        -moz-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg); }
    .header a:last-child img {
      width: 100%; }
  .header h1 {
    flex: 1;
    font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #4d4d4d;
    text-align: center; }

.userComment ul {
  padding: 0 20%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  background: #fff; }
  .userComment ul li {
    margin: 0 10% 1% 10%;
    padding: 3% 0;
    flex: 1;
    text-align: center;
    font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #7b7b7b;
    border-bottom: 2px solid #fff; }
  .userComment ul .active {
    border-bottom: 2px solid;
    color: #de5a4c; }
.userComment > .text {
  background: #de5a4c;
  padding: 4% 0; }
  .userComment > .text p {
    font: 0.55rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff;
    text-align: center; }
    .userComment > .text p span {
      font-size: .8rem; }
.userComment .allComment .commentItem {
  display: none; }
  .userComment .allComment .commentItem .item {
    margin: .2rem 0;
    background: #fff; }
    .userComment .allComment .commentItem .item .t {
      border-bottom: 1px solid #eee;
      padding: 2% 5%; }
      .userComment .allComment .commentItem .item .t p {
        font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        color: #828282; }
        .userComment .allComment .commentItem .item .t p span:nth-child(2) {
          margin-left: .5rem;
          flex: 1; }
    .userComment .allComment .commentItem .item .c {
      padding: 2%;
      display: flex;
      display: -webkit-flex;
      align-items: center; }
      .userComment .allComment .commentItem .item .c .img {
        width: 50%;
        margin-right: .5rem;
        font-size: 0; }
        .userComment .allComment .commentItem .item .c .img img {
          width: 100%; }
      .userComment .allComment .commentItem .item .c > .text h3 {
        font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #de5a4c;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .userComment .allComment .commentItem .item .c > .text p {
        font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #9b9b9b; }
        .userComment .allComment .commentItem .item .c > .text p:nth-child(2) {
          font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #6e6e6e;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .userComment .allComment .commentItem .item .c > .text p:nth-child(5) {
          display: flex;
          display: -webkit-flex;
          align-items: center; }
          .userComment .allComment .commentItem .item .c > .text p:nth-child(5) i {
            display: block;
            height: .5rem;
            font-size: 0; }
            .userComment .allComment .commentItem .item .c > .text p:nth-child(5) i img {
              height: 100%; }
          .userComment .allComment .commentItem .item .c > .text p:nth-child(5) span {
            font: 0.5rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .userComment .allComment .commentItem .item .answer {
      padding: 2%;
      border-bottom: 1px solid #eee; }
      .userComment .allComment .commentItem .item .answer h3 {
        font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #de5a4c; }
      .userComment .allComment .commentItem .item .answer p {
        font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #484747;
        text-indent: 2em; }
        .userComment .allComment .commentItem .item .answer p:last-child {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          text-indent: 0;
          color: #acacac;
          font-size: .5rem; }
          .userComment .allComment .commentItem .item .answer p:last-child i {
            display: block;
            height: .5rem;
            font-size: 0;
            margin-right: .3rem; }
            .userComment .allComment .commentItem .item .answer p:last-child i img {
              height: 100%; }
          .userComment .allComment .commentItem .item .answer p:last-child span {
            margin-right: .3rem; }
    .userComment .allComment .commentItem .item .b {
      border-bottom: 1px solid #eee; }
      .userComment .allComment .commentItem .item .b .bT {
        padding: 2% 5%;
        display: flex;
        display: -webkit-flex;
        align-items: center; }
        .userComment .allComment .commentItem .item .b .bT .img {
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          overflow: hidden;
          margin-right: .5rem;
          font-size: 0; }
          .userComment .allComment .commentItem .item .b .bT .img img {
            width: 100%; }
        .userComment .allComment .commentItem .item .b .bT > .text h4 {
          font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #636363;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .userComment .allComment .commentItem .item .b .bT > .text p {
          font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #b5b5b5; }
      .userComment .allComment .commentItem .item .b .tag {
        padding: 1% 5%; }
        .userComment .allComment .commentItem .item .b .tag p {
          font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #de5a4c; }
    .userComment .allComment .commentItem .item .foot {
      padding: 2%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: flex-end; }
      .userComment .allComment .commentItem .item .foot a {
        padding: 0 2%;
        border: 1px solid;
        color: #de5a4c;
        border-radius: 30px;
        font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-decoration: none;
        margin-left: 1rem; }

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: #fff;
  padding-top: 2%;
  margin-top: .5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-top: 1px solid #eaeaea; }
  .footer a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #6a6969;
    font: 0.6rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .footer a:nth-child(3) {
      color: #de5a4c; }
    .footer a .img {
      margin: 0 auto;
      width: 1.2rem;
      height: 1.2rem;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer a .img img {
        min-width: auto;
        max-width: 100%;
        min-height: auto;
        max-height: 100%; }

.nullComment .img {
  margin: 50% auto 0;
  width: 3rem;
  font-size: 0; }
  .nullComment .img img {
    width: 100%; }
.nullComment p {
  font: 0.6em/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #bcbcbc;
  text-align: center; }

/*# sourceMappingURL=userComment.css.map */
